name: First Workflow
on: workflow_dispatch
jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: First Greeating
        run: echo "Hello world!"
      - name: Print Goodbye
        run: echo "Done -bye"
  
